.form-login{
    width: 280px;
}

.btn-cadastro{
    background-color: #614EA6;
    transition: .3s ease-in;
}

.btn-cadastro:hover{
    background-color: #412d8a;
}

.btn.disabled{
    background-color: #614EA6;
}