.rodape-card{
    color: #614ea6;
    height: 35px;
}

.btn-detalhes{
    background-color: #614ea6;
    color: #fff;
}
.btn-detalhes:hover{
    background-color: rgb(130, 106, 216);
    color: #fff;
}

.btn-detalhes:active:hover{
    background-color: #614ea6;
    color: #fff;
}
.btn-detalhes:active:focus-within{
    background-color: #614ea6;
    color: #fff;
}



.card{
    display: inline-block;
    width: 258px;
    max-height: 304px;
    text-align: left!important;
}

.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 24px;
}

.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 24px;
}

.img-cartao{
    background-color: #F3F3F3;
    object-fit: contain;
    max-height: 200px;
    min-height: 200px;
}

.spinnerCard{
    align-items: center;
    min-height: 200px;
}